* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
}

.container {
    position: relative;
    padding: 15px 40px;
}

@media only screen and (max-width: 758px) {
    .container {
        padding: 10px 20px;
    }
}